/*mobile*/
@media screen and (max-device-width: 760px) {
    .buttons{
        display: grid;
        grid-template-columns: 1fr;
    }
    /* .main-btn{
        width:max-content;
        font-size: xx-small;
    } */
}