/*mobile*/
@media screen and (max-width: 500px) {

    .wrapper{
    margin-top: 100px;
    padding-top: 100px;
    padding-right: 150px;
 
}

    .products-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
    .categories-container{
    display: grid;
	grid-template-columns: 1fr 1fr;
}

    .buttons{
    gap:2px;
}

    .btn-responsive{
 font-size: smaller;
}
    .card-title{
    font-size: 0.8rem;
    text-align: center;
}

    .card-details{
    max-width: max-content;
}
    .description-details{
    font-size: 0.8rem;
}

    .contact{
font-size: 0.8rem;
gap:15px;
}

    .empty-cart{
    width:120px;
}
    .total-price{
    width:100px;
    display: flex;
    justify-content: center;
}
}