/*mobile*/
@media screen and (max-width: 500px) {


.logo {
 width:100px;
}

.wrapper{
    margin-top: 100px;
    padding-top: 100px;
    padding-left: 35x;

}

.products-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.categories-container{
    display: grid;
	grid-template-columns: 1fr 1fr;
}

.buttons{
    gap:2px;
}

.btn-responsive{
 font-size: smaller;
}
    .card-title{
    font-size: 0.8rem;
    text-align: center;
}

.card-details{
    width:200px;
}
.description-details{
    font-size: 0.5rem;
}

.contact{
font-size: 0.8rem;
gap:15px;
}

}