* {
	box-sizing: border-box;
}

:root {
    --animate-duration:5s;
    --animation-delay: 2s;
  }

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.wrapper{
    margin-top: 70px;
    margin-left: 200px;
    gap:20px;

}

.logo{
display: flex;
}

.cart, .admin, a{
    color:rgb(2, 8, 22);
    text-decoration: none;
    display: flex;
    padding: 2px;
}

.cart, .admin, a:hover{
    color: rgb(199, 11, 99);
}

.menu-icon{
padding: 2px;
}


#navbarSupportedContent > ul > li:nth-child(1) > a:hover{
    color: rgb(199, 11, 99);

}
#navbarDropdown:hover{
    color: rgb(199, 11, 99);
}

#navbarSupportedContent > form > button{
color:black;
border-color:#ced4da;
}

#navbarSupportedContent > form > button:hover{
    background-color: rgb(199, 11, 99);
    color:white;

}
.dropdown-item:hover{
    background-color: rgb(199, 11, 99);
    color:white;
}

.main-btn{
    background-color: rgb(231, 89, 156);
    border-color:#ced4da;
    border-radius: 5%;
    color:white;
    display: flex;
    justify-content: center;
    width: 200px;
    margin:0 auto;
}

.main-btn:hover{
    border-color:#ced4da;
    color:white;
    background-color: rgb(199, 11, 99);
}

.card-details{
width:1000px;
margin:0 auto;
}

.banner{
    display:flex;
    justify-content: center;
    margin:30px;
}

#img-banner{
width:700px;
}

.img-details:hover{
    animation: zoom-in-zoom-out 1s ease 3;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.products-container {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.categories-container{
    padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.footer{
    margin-top:200px;
 }

 .social-media{
    width:70px;
 }

 .social-media:hover{
    background-color: rgb(199, 11, 99);
    color:white;
 }

.footer-details{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:30px;
    margin-top:40px;
}

.footer-details  h4{
   font-size: 1rem;
   font-weight: bolder;
}

.footer-details  p{
    font-size: 0.8rem;
 }

.contact{
display: flex;
flex-direction: column;
margin-right: 1000px;
margin-top:20px;
}

.copyright{
    font-size: 0.8rem;
    margin-top:20px;
}

