* {
	box-sizing: border-box;
}

:root {
	--animate-duration: 10s;
	--animation-delay: 5s;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* navbar */

.wrapper {
	margin-top: 70px;
	margin-left: 200px;
	gap: 20px;
}

.logo {
	display: flex;
}


.cart, .admin, a {
	color: rgb(2, 8, 22);
	text-decoration: none;
	display: flex;
}

.cart,
.admin,
a:hover {
	color: rgb(199, 11, 99);
	display: flex;
}

.menu-icon {
	padding-left: 2px;
}

#navbarSupportedContent > ul > li:nth-child(1) > a:hover {
	color: rgb(199, 11, 99);
}
#navbarDropdown:hover {
	color: rgb(199, 11, 99);
}

#navbarSupportedContent > form > button {
	color: black;
	border-color: #ced4da;
}

#navbarSupportedContent > form > button:hover {
	background-color: rgb(199, 11, 99);
	color: white;
}
.dropdown-item:hover {
	background-color: rgb(199, 11, 99);
	color: white;
}
/*main*/

.buttons {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

/*details*/

.main-btn {
	background-color: rgb(231, 89, 156);
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 40px;
}

.main-btn:hover {
	color: white;
	background-color: rgb(199, 11, 99);
}

.card-details {
	width: 1000px;
	margin: 0 auto;
	box-shadow: 10px 15px 10px rgb(214, 208, 211);
}

.banner {
	display: flex;
	justify-content: center;
	margin: 30px;
}

#img-banner {
	width: 700px;
}

.img-details:hover {
	animation: zoom-in-zoom-out 1s ease 3;
}

@keyframes zoom-in-zoom-out {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}

.products-container {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.categories-container{
    padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

/*cart*/
.cart-products {
	margin: 0 5px;
	font-size: 20px;
}

.cart-btn {
	background-color: rgb(199, 11, 99);
	margin: 0 auto;
	border: 1px solid white;
	color: white;
	width: 30px;
}

.empty-cart {
	background-color: rgb(12, 9, 10);
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	width: 250px;
	height: 40px;
	margin: 2px auto;
}

.total-price {
	background-color: rgb(199, 11, 99);
	width: 150px;
	border: 1px solid white;
	color: white;
	padding: 5px;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.empty-cart-message {
	display: flex;
	justify-content: center;
	margin-top:20px;
}

.cart-info{
	margin: 2px auto;
	font-weight: bolder;
}

/*admin*/
.product-form{
	display: flex;
	flex-direction: column;
	width: 700px;
	margin: 20px auto;
	gap:20px;
}
.add-new-product{
	background-color: rgb(231, 89, 156);
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 40px;
}
.update-product{
	background-color: rgb(231, 89, 156);
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 40px;
}
.add-new-product:hover {
	color: white;
	background-color: rgb(199, 11, 99);
}

.thead-description{
	display: flex;
	justify-content: center;
}

/*footer*/
.footer {
	margin-top: 200px;
}

.social-media {
	width: 70px;
}

.social-media:hover {
	background-color: rgb(199, 11, 99);
	color: white;
}

.footer-details {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 30px;
	margin-top: 40px;
}

.footer-details h4 {
	font-size: 1rem;
	font-weight: bolder;
}

.footer-details p {
	font-size: 0.8rem;
}

.contact {
	display: flex;
	flex-direction: column;
	margin-right: 1000px;
	margin-top: 20px;
}

.copyright {
	font-size: 0.8rem;
	margin-top: 25px;
}
